@layout('layouts.main')
@section('content')
  @set('pageTitle', 'Posts')
  @!component('components.post.list', {
    items: data
  })
  @!component('components.pagination', {
    total,
    perPage,
    page,
    lastPage,

  })
@endsection
