@layout('layouts.main')

@section('content')
   <div class="container">
    <h1 class="mt-5 mb-4">{{ post.title }}</h1>
    <div>{{ post.content }}</div>
   </div>
   <ul class="nav justify-content-end fixed-bottom pb-4">
     <li class="nav-item">
       <button
        id="delete"
        data-csrf="{{ csrfToken }}"
        data-id="{{ post.id }}"
        class="nav-link btn btn-link">
         Delete
       </button>
     </li>
   </ul>
@endsection
