@layout('layouts.main')

@section('header')
{{--  @super  --}}
  <h1>{{ pageTitle || 'Untitled' }}}</h1>
@endsection

@section('content')
  @component('components.list', { entities, border: false, borderColor: '#ddd' })
    @slot('notes')
      <small>Eat some fruits & vegetables everyday is good for your health.</small>
    @endslot
  @endcomponent
@endsection
