@layout('layouts.main')

@section('content')
  <table class="table my-5">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      @each(file in files)
        <tr>
          <td><a href="{{ route('files.show', { id: file.id }) }}">{{ file.client_name }}</a></td>
          <td>{{ file.type }}</td>
          <td>{{ file.size }}</td>
        </tr>
      @endeach
    </tbody>
  </table>
@endsection
