<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{ style('https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css') }}
  {{ style('https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css') }}
  {{ style('https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css') }}
  {{ style('https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/styles/atom-one-dark-reasonable.min.css') }}
  {{ style('styles/bootstrap-notify') }}
  {{ style('styles/alert-bangtidy') }}
  {{ style('styles/main') }}
  <title>{{ pageTitle || 'lishaoy.net' }}</title>
</head>
<body>
