<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{ style('https://unpkg.com/bootstrap@4.0.0/dist/css/bootstrap.min.css') }}
  {{ style('main') }}
  <title>{{ pageTitle || 'lishaoy.net' }}</title>
</head>
<body>
