@layout('layouts.main')

@section('content')
  @set('pageTitle', user.username)
  <h1 class="my-5 text-center display-4">{{ user.username }}</h1>
  <div class="mb-5 text-center">
    <a href="https://github.com/{{ user.profile.github }}" class="text-muted">
      <i class="fa fa-github"></i>
    </a>
  </div>
  @!component('components.post.list', {
    items: data
  })
  @!component('components.pagination', {
    total,
    perPage,
    page,
    lastPage
  })
  </div>
@endsection
