@layout('layouts.main')

@section('content')
  <div class="container">
    <h1 class="mt-5 mb-4 font-weight-light">{{ tag.title }}</h1>
    @if(posts)
      @each(post in posts)
        <h3 class="mt-5 mb-4">{{ post.title }}</h3>
        <div>{{ post.content }}</div>
    @endeach
    @endif
  </div>
@endsection
