body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1.01rem;
	color: #333;
	background-color: #fafafa;
}
a {
	color: #9e9e9e;
}
a:hover {
	text-decoration: none;
}

video,
img {
	width: 100%;
	width: 100%;
	margin: .8rem 0;
}

button:focus {
	outline: none;
}

.btn.focus,
.btn:focus {
	outline: 0;
	box-shadow: none;
}

body > .container {
	max-width: 860px;
	padding: 5rem 2rem;
}

body > .container .post-content,
body > .container .file-content,
body > .container .user-content,
body > .container .tag-content {
	background-color: #fff;
	padding: 2rem;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.shadow-sm {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.card {
	border: none;
	border-radius: 2px;
}
.user .card label,
.file-content label {
	margin-left: .7rem;
}

.user .card .form-control,
.file-content .form-control {
	border: none;
	border-bottom: 1px solid #ced4da;
	border-radius: 0;
}

.user .card .form-control:focus,
.file-content .form-control:focus {
	box-shadow: none;
}

.limit-width {
	background-color: #fff;
	border: 1px solid #eeeeee;
	border-width: 0 0 1px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.author,
.author a {
	color: #9e9e9e;
	font-size: 16px;
}

.status .reads,
.status .likes {
	font-size: 12px;
}
.status .reads .iconfont.icon-read {
	font-size: 15px;
	position: relative;
	top: 1px;
}

.status .likes .iconfont.icon-love {
	font-size: 12px;
	position: relative;
	top: -1px;
}
.status .reads,
.status .likes {
	position: relative;
	top: -1px;
}

.status,
.status .reads,
.status .likes,
.author .author-photo,
.author .author-text,
.author-text .name,
.author-text .update,
.post-title {
	display: inline-block;
}

.status {
	position: relative;
	top: -3px;
}

.author-text .name,
.author-text .update {
	position: relative;
	top: -6px;
}
.toggle-btn.author-photo {
	width: 20px;
	height: 20px;
}
.post-title {
	position: relative;
	top: -10px;
}
.navbar-brand {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
}

.editor-toolbar.fullscreen {
	top: 60px;
}

.editor-preview-side,
.CodeMirror-fullscreen {
	top: 110px;
}

.header.editor-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 1.4rem;
	height: 60px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	z-index: 1036;
}

.header.editor-header .title-input {
	margin: 0;
	padding: 0;
	font-size: 2rem;
	font-weight: 700;
	color: #000;
	flex: 1 1 auto;
	border: none;
	outline: none;
}

.header.editor-header .right-box {
	height: 60px;
	width: 20%;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.navigator {
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-right: 0;
}

.toggle-btn {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #eee;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}

.popover {
	border-radius: 0;
}

.popover-header {
	background-color: #fff;
	border-bottom: none;
	border: 0;
}

span.badge {
	border-radius: 0;
	padding: 5px 10px;
	cursor: pointer;
}

.badge-light {
	color: #9e9e9e;
	background-color: #f8f9fa91;
	border: 1px solid #eeeeee;
}

.badge-light.active {
	color: #007bff;
	text-decoration: none;
	background-color: #dae0e561;
	border: 1px solid #007bff94;
}

.btn.btn-link.nav-link {
	font-size: 18px;
}

.btn-sm.edit-btn.btn {
	border-radius: 0;
	padding: 3px 10px;
}

a[title="Toggle Fullscreen (F11)"] {
	display: none;
}

.status-text {
	white-space: nowrap;
	color: #ddd;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.alert.in.fade {
	opacity: 1;
}

.notifications.top-right {
	right: 25px;
	top: 4px;
}

.user-photo.dropdown-toggle::after {
	content: none;
}

.navbar {
	padding: .2rem 1rem;
}

.dropdown-menu {
	border: 1px solid #e0dfdf;
}

.dropdown-item {
	color: #757575;
}

.page-item.active .page-link {
	color: #212121;
	background-color: #e0e0e0;
	border-color: #bdbdbd;
}

.page-link {
	color: #424242;
}

.page-link:hover {
	color: #212121;
	background-color: #e0e0e0;
	border-color: #bdbdbd;
}

.toggle-btn.profile {
	width: 66px;
	height: 66px;
}

.profile-text {
	font-size: 12px;
	font-weight: 300;
}

.iconfont.icon-read {
	font-size: 20px;
	position: relative;
	top: -1px;
}

.profile-text.read {
	position: relative;
	top: -5px;
}

.profile-text.like {
	position: relative;
	top: 2px;
}

.editor-preview-side {
	border-left: none;
	padding: 2rem 1.4rem;
}

.navbar {
	max-width: 960px;
	margin: 0 auto;
}

.bg-light {
	background-color: #ffffff !important;
}

.author.post-show .author-photo {
	width: 48px;
	height: 48px;
}

.author.post-show .author-text .name {
	display: block;
}

.author.post-show .author-text .name a {
	font-size: 18px;
}

.author.post-show .status {
	position: relative;
	top: -6px;
}

.edit-btn .btn.btn-outline-light {
	margin-top: 6px;
	padding: 0 16px;
	font-size: 14px;
	border: 1px solid #dcdcdc;
	color: #424242;
	line-height: 30px;
	border-radius: 50px;
}

.post-tags {
	font-size: 14px;
}

.post-tags .badge {
	transform: scale(0.9);
}

.post-suspended-panel {
	position: fixed;
	z-index: 1040;
	margin-left: -6.5rem;
	top: 12rem;
	color: #9e9e9e;
}

.post-suspended-panel .post-panel {
	width: 2.5rem;
	height: 2.5rem;
	background-color: #fff;
	text-align: center;
	line-height: 2.5rem;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}

.post-suspended-panel .share-title {
	margin-top: 1.6rem;
	font-size: .86rem;
	text-align: center;
	color: #c6c6c6;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pagination {
	font-size: 14px;
}

.post-suspended-panel .post-panel.likes:after {
	content: attr(badge);
	position: absolute;
	top: 14px;
	left: 66%;
	padding: .15rem .4rem;
	font-size: 1rem;
	text-align: center;
	line-height: 1;
	white-space: nowrap;
	color: #fff;
	background-color: #b2bac2;
	border-radius: .7rem;
	transform-origin: left top;
	transform: scale(.65);
}

.post-suspended-panel .post-panel:not(.weibo) a:hover,
.post-suspended-panel .post-panel.active a {
	color: #ef5350;
}

.post-suspended-panel .post-panel.weibo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.post-suspended-panel .post-panel.weibo div {
	height: 19px;
	width: 19px;
	background-size: cover;
	background-image: url('/image/weibo.png');
}

.post-suspended-panel .post-panel.qq a:hover {
	color: #2ab3f6;
}

.post-suspended-panel .post-panel.wechat .wechat-img {
	position: absolute;
	display: none;
}
.post-suspended-panel .post-panel.wechat a:hover {
	color: #00b30b;
}

.post-suspended-panel .post-panel.active.likes:after {
	color: #fff;
	font-weight: bold;
	background-color: #ef5350e0;
}

.post-suspended-panel .post-panel.likes .liked {
	width: 2.55rem;
	height: 2.55rem;
	background-color: #fafafaeb;
	text-align: center;
	line-height: 2.45rem;
	border-radius: 50%;
	font-size: 14px;
	color: #4caf50;
	font-weight: bold;
	position: relative;
	top: -40px;
	left: -46px;
	transition: all 0.7s ease 0s;
	cursor: default;
}

.post-suspended-panel .post-panel.likes:hover .liked {
	left: 0;
}
.file-icon {
	display: block;
}
.file-icon i {
	font-size: 88px;
	color: #1e88e5;
}

.frofile.container {
	margin-top: 2.6rem;
}

.profile-nav {
	width: 100%;
	position: fixed;
	top: 3.4rem;
	z-index: 100;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
	transition: all .5s;
	transform: translateZ(0);
	background: #fffffffc;
}

.profile-nav.down {
	top: 3.4rem;
}

.profile-nav.up {
	top: 0;
}

.nav.profile {
	max-width: 860px;
	margin: 0 auto;
	font-size: 16px;
}

.nav.profile .nav-link.active {
	color: #007bff;
}

.container.frofile .list-group-item {
	display: flex;
	align-items: center;
}

.container.frofile .list-group-item:not(:first-child) {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.container.frofile .list-group-item .title {
	font-size: 1.1rem;
	color: #333;
	width: 9rem;
}

.container.frofile .list-group-item .toggle-btn {
	width: 4.6rem;
	height: 4.6rem;
	border-radius: 0px;
}

.container.frofile .list-group-item .introduce-box .text {
	color: #909090;
	font-size: .75rem;
	margin-bottom: .7rem;
	margin-top: .66rem;
}

.container.frofile .list-group-item .introduce-box .button a {
	font-size: 1.12rem;
	color: #1e88e5;
}

.container.frofile .list-group-item .form-control {
	border: none;
}

.container.frofile .list-group-item .form-control[readonly] {
	background-color: transparent;
	color: #bdbdbd;
}

.container.frofile .list-group-item .form-control:focus {
	box-shadow: none;
}
.container.frofile .list-group-item .input-box {
	width: 100%;
}

.container.frofile .list-group-item .input-box .input-content {
	display: flex;
	align-items: center;
	flex: 1;
}

.container.frofile .list-group-item .input-box .input-content .action-box a {
	font-size: .9rem;
	color: #1e88e5;
}

.container.frofile .list-group-item .input-box .input-content .action-box .iconfont {
	font-size: .75rem;
	position: relative;
	top: -2px;
}

.container.frofile .list-group-item .input-box .input-content .action-box .iconfont.icon-verifiedqualityc {
	font-size: 1rem;
	color: #28a745;
}

.container > .post-content > div:first-child > .list-group-item:first-child > .post-title {
	margin-top: .9rem !important;
}

.invalid-feedback {
	padding: .375rem .75rem;
}

.list-group-item .icon-love.liked,
.status .likes .icon-love.liked {
	color: #ef5350;
}

.alert {
	border: none;
	border-radius: 2px;
	font-size: .86rem;
}

.close:not(:disabled):not(.disabled):focus {
	outline: 0;
}

.btn-primary,
.btn-sm {
	border-radius: 2px;
}

.post-content-left .text {
	font-size: .92rem;
	color: #757575;
}

.post-content-right.post-img {
	width: 150px;
	height: 100px;
	background-size: cover;
	flex: 0 0 auto;
}

.alert-dismissible .close {
	top: -4px;
}

.post-content > .list-group h4,
.user-content > .list-group h4,
.tag-content > .list-group h4 {
	margin-top: 16px;
}

.file-action .nav-item {
	background: #fff;
	border-radius: 50%;
	width: 1.99rem;
	height: 1.99rem;
	padding: 0;
	text-align: center;
}

.file-action .nav-item a,
.file-action .nav-item button.btn.btn-link.delete {
	color: #0e0e0e;
	position: relative;
	top: -3px;
	left: -4px;
	font-size: 14px;
}

.file-action .nav-item button.btn.btn-link.delete {
	left: -5px;
}

/* .file-action .nav-item .btn.btn-link {
	font-size: .92rem;
	position: relative;
	top: 1px;
} */

.file-action .nav-item .btn.btn-link:hover {
	text-decoration: none;
}

.file-status a {
	position: relative;
	top: -1px;
}

.file-tool-box .file-mail .btn {
	border-radius: 50%;
	padding: 0;
	width: 1.99rem;
	height: 1.99rem;
	font-size: 14px;
}

.file-status span {
	font-size: 90%;
}

.file-user {
	margin-top: 11px;
}

.file-user .toggle-btn {
	width: 20px;
	height: 20px;
}

.toggle-btn.table-list {
	width: 25px;
	height: 25px;
}

.chat-room-box {
	background-color: #fff;
	border-radius: 2px;
	height: 56vh;
	max-height: 640px;
	overflow: hidden;
}

.chat-room-content .user-list-box {
	background-color: #2e3238;
	color: #fff;
	width: 25%;
}

.chat-room-content .user-list-box .header {
	border-bottom: 1px solid #212121d6 !important;
}

.user-list-box .header .toggle-btn {
	width: 38px;
	height: 38px;
}

.user-list-box .user-list {
	max-height: 100%;
	overflow: scroll;
}

.user-list .toggle-btn {
	width: 28px;
	height: 28px;
}

.chat-room-content .message-box {
	background-color: #fff;
	width: 75%;
}

.user-list-box .describe span {
	font-size: .8rem;
	color: #ccc;
}
.user-list-box .user-list .list-group-item {
	padding: 0 .86rem;
	background-color: #2e3238;
	border: none;
	border-bottom: 2px solid #212121c9;
	font-size: .8rem;
}

.toggle-btn.char-room {
	width: 40px;
	height: 40px;
}

.toggle-btn.char-room.login-tip {
	width: 16px;
	height: 16px;
}

.message-box .message-box-inner {
	height: 100%;
	overflow: scroll;
}

.message-box .messages .dropdown-divider {
	overflow: visible;
}

.message-box .messages .dropdown-divider span {
	position: relative;
	top: -16px;
	left: 38%;
	font-size: 13px;
	background-color: #fff;
	padding: 0 .8rem;
	color: #ccc;
}

.message-box .write-box {
	height: 27%;
	border-top: 1px solid #e0e0e0;
	padding: .66rem .84rem .62rem;
}
.message-box .write-box .content {
	height: 75%;
}
.message-box .write-box .editArea {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 44px;
	margin: 0;
	padding: 0;
	background-color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	outline: none;
	color: #2e3238;
	font-size: 13px;
	line-height: 1.38em;
	resize: none;
	overflow-y: auto;
	overflow-x: hidden;
	white-space: pre-wrap;
	word-break: normal;
}

.message-box .write-box .action span {
	font-size: 13px;
	color: #9e9e9e;
}

.message .username {
	font-size: 12px;
	position: relative;
	top: -10px;
}

.message .username.login-tip {
	top: 0px;
}

.message-box .messages .text {
	font-size: 14px;
	padding: 4px 12px;
	background-color: #fafafa;
	position: relative;
	top: -7px;
}

.message-box .messages .text.login-tip {
	background-color: transparent;
	padding-left: 2px;
	color: #bdbdbd;
}
.mail-resend-text {
	position: relative;
	top: -76px;
}
.mail-resend-text button {
	font-size: 14px;
}

.mail-resend-text button i {
	font-size: 12px;
}

.profile-nav.user-show {
	position: static;
	box-shadow: none;
}

.profile-nav.user-show .nav-link {
	font-size: 1.1rem;
	font-weight: 500;
	color: #212121;
}

.profile-nav.user-show .nav-link .text-num {
	font-weight: 200;
	font-size: .8rem;
	position: relative;
	bottom: -1px;
}

.profile-nav.user-show .nav-link.active {
	color: #007bff;
	border-bottom: 1px solid #2c92ff;
}

.user-content .list-group-flush .list-group-item:first-child {
	padding-top: 45px;
}

.nav-item.dropdown .dropdown-menu i {
	font-size: 13px;
}

.nav-item.dropdown .dropdown-menu .dropdown-item {
	font-size: .96rem;
}

.navbar-collapse .navbar-nav .nav-item.notification {
	position: relative;
}

.navbar-collapse .navbar-nav .nav-item > a > i {
	font-size: 1.2rem;
}

.navbar-collapse .navbar-nav .nav-item .plus {
	margin-top: 5px;
}

.navbar-collapse .navbar-nav .nav-item > a > i {
	position: relative;
	top: 2px;
}

.navbar-collapse .navbar-nav .nav-item div.notification-badge {
	width: 19px;
	height: 19px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 6px;
	left: 21px;
	display: none;
}

.navbar-collapse .navbar-nav .nav-item.notification i {
	position: relative;
	top: -1px;
	font-size: 1.28rem;
}
.navbar-collapse .navbar-nav .nav-item div.notification-badge:after {
	content: attr(badge);
	position: absolute;
	top: 2px;
	left: 2px;
	padding: .2rem .42rem;
	font-size: 1rem;
	text-align: center;
	line-height: 1.1;
	white-space: nowrap;
	color: #fff;
	background-color: #ef5350e0;
	border-radius: .7rem;
	transform-origin: left top;
	transform: scale(.65);
}

a:hover,
.nav-link:focus,
.nav-link:hover,
.navbar-collapse .navbar-nav .nav-item a:hover i,
.navbar-collapse .navbar-nav .nav-item a.active i,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #007bff;
}

.notice-content .notificationList {
	padding: 0;
	margin: 0;
}

.notice-content .notificationList .list-item {
	margin-bottom: 1.333rem;
	list-style: none;
}

.notice-content .notificationList .list-item .notification .user-notification {
	padding: 2rem;
	background: #fff;
	display: flex;
	flex-direction: column;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
	position: relative;
	border-radius: 2px;
}

.notice-content .notificationList .list-item .notification .user-notification.is-read {
	background: #37c70117;
	border: 2px solid #37c7010d;
}

.notice-content .notificationList .list-item .notification .user-notification .user-link .toggle-btn {
	width: 45px;
	height: 45px;
}

.notice-content .notificationList .list-item .notification .user-notification .user-link .name {
	color: #2e3135;
	font-size: 1.1rem;
	font-weight: 600;
}

.notice-content .notificationList .list-item .notification .user-notification .user-link .info {
	color: #757575;
	font-size: .9rem;
	font-weight: 400;
}

.notice-content .notificationList .list-item .notification .user-notification .content {
	padding: .56rem 1.2rem;
	background-color: #f8f8f8d9;
	border-radius: 2px;
	margin-left: 3.4rem;
}

.notice-content .notificationList .list-item .notification .user-notification .content.is-read {
	background-color: #37c70114;
}

.notice-content .notificationList .list-item .notification .user-notification .content .title {
	color: #616161e6;
}

.notice-content .notificationList .list-item .notification .user-notification .content .title:hover {
	color: #007bff;
}

.slideOutUp {
	-webkit-animation-name: slideOutUp;
	animation-name: slideOutUp;
}

.slideInDown {
	-webkit-animation-name: slideInDown;
	animation-name: slideInDown;
}

.animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@keyframes slideOutUp {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	100% {
		visibility: hidden;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes slideInDown {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
