body {
	font-family: "Songti SC", serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1.1rem;
	background-color: #fafafa;
}
a {
	color: #9e9e9e;
}
a:hover {
	text-decoration: none;
}

body > .container {
	max-width: 860px;
	padding: 5rem 2rem;
}

body > .container .post-content,
body > .container .file-content,
body > .container .user-content,
body > .container .tag-content {
	background-color: #fff;
	padding: 2rem;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.shadow-sm {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.card {
	border: none;
	border-radius: 2px;
}
.user .card label {
	margin-left: .7rem;
}

.user .card .form-control {
	border: none;
	border-bottom: 1px solid #ced4da;
	border-radius: 0;
}

.user .card .form-control:focus {
	box-shadow: none;
}

.limit-width {
	background-color: #fff;
	border: 1px solid #eeeeee;
	border-width: 0 0 1px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.author,
.author a {
	color: #9e9e9e;
	font-size: 16px;
}

.status .reads,
.status .likes {
	font-size: 14px;
}
.status .reads .iconfont.icon-read {
	font-size: 15px;
	position: relative;
	top: 1px;
}

.status .likes .iconfont.icon-love {
	font-size: 12px;
	position: relative;
	top: -1px;
}
.status .reads,
.status .likes {
	position: relative;
	top: -1px;
}

.status,
.status .reads,
.status .likes,
.author .author-photo,
.author .author-text,
.author-text .name,
.author-text .update,
.post-title {
	display: inline-block;
}

.status {
	position: relative;
	top: -3px;
}

.author-text .name,
.author-text .update {
	position: relative;
	top: -6px;
}
.toggle-btn.author-photo {
	width: 20px;
	height: 20px;
}
.post-title {
	position: relative;
	top: -10px;
}
.navbar-brand {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
}

.editor-preview pre,
.editor-preview-side pre,
.hljs {
	padding: 2em 1.5em;
}

.editor-toolbar.fullscreen {
	top: 60px;
}

.editor-preview-side,
.CodeMirror-fullscreen {
	top: 110px;
}

.header.editor-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 1.4rem;
	height: 60px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	z-index: 1036;
}

.header.editor-header .title-input {
	margin: 0;
	padding: 0;
	font-size: 2rem;
	font-weight: 700;
	color: #000;
	flex: 1 1 auto;
	border: none;
	outline: none;
}

.header.editor-header .right-box {
	height: 60px;
	width: 20%;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.navigator {
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-right: 0;
}

.toggle-btn {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #eee;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}

.popover {
	border-radius: 0;
}

.popover-header {
	background-color: #fff;
	border-bottom: none;
	border: 0;
}

span.badge {
	border-radius: 0;
	padding: 5px 10px;
	cursor: pointer;
}

.badge-light {
	color: #9e9e9e;
	background-color: #f8f9fa91;
	border: 1px solid #eeeeee;
}

.badge-light.active {
	color: #007bff;
	text-decoration: none;
	background-color: #dae0e561;
	border: 1px solid #007bff94;
}

.btn.btn-link.nav-link {
	font-size: 18px;
}

.btn-sm.edit-btn.btn {
	border-radius: 0;
	padding: 3px 10px;
}

a[title="Toggle Fullscreen (F11)"] {
	display: none;
}

.status-text {
	white-space: nowrap;
	color: #ddd;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.alert.in.fade {
	opacity: 1;
}

.notifications.top-right {
	right: 25px;
	top: 4px;
}

.user-photo.dropdown-toggle::after {
	content: none;
}

.navbar {
	padding: .2rem 1rem;
}

.dropdown-menu {
	border: 1px solid #e0dfdf;
}

.dropdown-item {
	color: #757575;
}

.page-item.active .page-link {
	color: #212121;
	background-color: #e0e0e0;
	border-color: #bdbdbd;
}

.page-link {
	color: #424242;
}

.page-link:hover {
	color: #212121;
	background-color: #e0e0e0;
	border-color: #bdbdbd;
}

.toggle-btn.profile {
	width: 66px;
	height: 66px;
}

.profile-text {
	font-size: 13px;
}

.iconfont.icon-read {
	font-size: 20px;
	position: relative;
	top: -1px;
}

.profile-text.read {
	position: relative;
	top: -4px;
}

.editor-preview-side {
	border-left: none;
}

.navbar {
	max-width: 960px;
	margin: 0 auto;
}

.bg-light {
	background-color: #ffffff !important;
}

.author.post-show .author-photo {
	width: 48px;
	height: 48px;
}

.author.post-show .author-text .name {
	display: block;
}

.author.post-show .author-text .name a {
	font-size: 18px;
}

.author.post-show .status {
	position: relative;
	top: -6px;
}
.edit-btn {
	margin-right: 10%;
}
.edit-btn .btn.btn-outline-light {
	margin-top: 6px;
	padding: 0 16px;
	font-size: 14px;
	border: 1px solid #dcdcdc;
	color: #424242;
	line-height: 30px;
	border-radius: 50px;
}

.post-tags {
	font-size: 14px;
}

.post-tags .badge {
	transform: scale(0.9);
}

.post-suspended-panel {
	position: fixed;
	z-index: 1040;
	margin-left: -6rem;
	top: 16rem;
	color: #9e9e9e;
}

.post-suspended-panel .post-panel {
	width: 2.5rem;
	height: 2.5rem;
	background-color: #fff;
	text-align: center;
	line-height: 2.5rem;
	border-radius: 50%;
	overflow: hidden;
}

.pagination {
	font-size: 14px;
}

.post-suspended-panel .post-panel.likes:after {
	content: attr(badge);
	position: absolute;
	top: 14px;
	left: 66%;
	padding: .15rem .4rem;
	font-size: 1rem;
	text-align: center;
	line-height: 1;
	white-space: nowrap;
	color: #fff;
	background-color: #b2bac2;
	border-radius: .7rem;
	transform-origin: left top;
	transform: scale(.65);
}

.post-suspended-panel .post-panel a:hover,
.post-suspended-panel .post-panel.active a {
	color: #ef5350;
}

.post-suspended-panel .post-panel.active.likes:after {
	color: #fff;
	font-weight: bold;
	background-color: #ef5350e0;
}

.post-suspended-panel .post-panel.likes .liked {
	width: 2.55rem;
	height: 2.55rem;
	background-color: #fafafaeb;
	text-align: center;
	line-height: 2.45rem;
	border-radius: 50%;
	font-size: 14px;
	color: #4caf50;
	font-weight: bold;
	position: relative;
	top: -40px;
	left: -46px;
	transition: all 0.7s ease 0s;
	cursor: default;
}

.post-suspended-panel .post-panel.likes:hover .liked {
	left: 0;
}
.file-icon {
	display: block;
}
.file-icon i {
	font-size: 88px;
	color: #1e88e5;
}

.frofile.container {
	margin-top: 2.6rem;
}

.profile-nav {
	width: 100%;
	position: fixed;
	top: 3.4rem;
	z-index: 100;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
	transition: all .2s;
	transform: translateZ(0);
	background: #fffffffc;
}

.nav.profile {
	max-width: 860px;
	margin: 0 auto;
	font-size: 16px;
}

.nav.profile .nav-link.active {
	color: #007bff;
}

.container.frofile .list-group-item {
	display: flex;
	align-items: center;
}

.container.frofile .list-group-item:not(:first-child) {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.container.frofile .list-group-item .title {
	font-size: 1.1rem;
	color: #333;
	width: 8rem;
}

.container.frofile .list-group-item .toggle-btn {
	width: 4.6rem;
	height: 4.6rem;
	border-radius: 0px;
}

.container.frofile .list-group-item .introduce-box .text {
	color: #909090;
	font-size: .75rem;
	margin-bottom: .7rem;
	margin-top: .66rem;
}

.container.frofile .list-group-item .introduce-box .button a {
	font-size: 1.12rem;
	color: #1e88e5;
}

.container.frofile .list-group-item .form-control {
	border: none;
}

.container.frofile .list-group-item .form-control[readonly] {
	background-color: transparent;
	color: #bdbdbd;
}

.container.frofile .list-group-item .form-control:focus {
	box-shadow: none;
}
.container.frofile .list-group-item .input-box {
	width: 100%;
}

.container.frofile .list-group-item .input-box .input-content {
	display: flex;
	align-items: center;
	flex: 1;
}

.container.frofile .list-group-item .input-box .input-content .action-box a {
	font-size: .9rem;
	color: #1e88e5;
}

.container.frofile .list-group-item .input-box .input-content .action-box .iconfont {
	font-size: .75rem;
	position: relative;
	top: -2px;
}

.container.frofile .list-group-item .input-box .input-content .action-box .iconfont.icon-verifiedqualityc {
	font-size: 1rem;
	color: #28a745;
}

.container > .post-content > div:first-child > .list-group-item:first-child > .post-title {
	margin-top: .9rem !important;
}

.invalid-feedback {
	padding: .375rem .75rem;
}

.list-group-item .icon-love.liked,
.status .likes .icon-love.liked {
	color: #ef5350;
}

.alert {
	border: none;
	border-radius: 2px;
	font-size: .86rem;
}

.close:not(:disabled):not(.disabled):focus {
	outline: 0;
}

.btn-primary, .btn-sm {
  border-radius: 2px;
}
