@!include('layouts.partials.header')
  @include('layouts.partials.navbar')
  <div class="container my-5">
    @include('layouts.partials.alert')
    @!section('content')
  </div>
@include('layouts.partials.footer')
