<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ pageTitle || 'lishaoy' }}</title>
</head>
<body>
  <div class="container">
    <div class="header">
      @section('header')
      <small>__headerSection__</small>
      @endsection
    </div>
    <div class="content">
      @section('content')
        <p>here is no content yet.</p>
      @endsection
    </div>
  </div>
</body>
</html>
