<div class="profile-nav">
  <nav class="nav profile">
    <a class="nav-link {{ url == route('profile.edit') ? 'active' : '' }}" href="{{ route('profile.edit') }}">Profile</a>
    <a class="nav-link {{ url == route('password.edit') ? 'active' : '' }}" href="{{ route('password.edit') }}">Security</a>
  </nav>
</div>





