<div class="profile-nav">
  <nav class="nav profile px-3">
    <a class="nav-link {{ url == route('notification') ? 'active' : '' }}" href="{{ route('notification') }}">User Notification</a>
    <a class="nav-link {{ url == route('notification.system') ? 'active' : '' }}" href="{{ route('notification.system') }}">System Notification</a>
  </nav>
</div>





